.moving-div {
  width: 50px;
  height: 4px;
  background-color: var(--accent-color);
  position: relative;
  animation-name: move-right;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes move-right {
  0% {
    left: -50px;
  }
  100% {
    left: calc(100%);
  }
}

.notification {
  position: relative;
  animation-name: move-left;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

@keyframes move-left {
  0% {
    right: -150%;
  }
  100% {
    right: calc(0%);
  }
}
