.vs {
  --accent-color: hsl(204, 100%, 40%);
  --primary-color: hsl(170, 90%, 38%);
  --primary-text-color: hsl(0, 0%, 55%);
  --highlight-text-color: hsl(0, 0%, 23%);
  --tertiary-text-color: hsl(0, 0%, 30%);
  --hover-text-color: hsl(0, 0%, 89%);
  --sidepannel-color: hsl(0, 0%, 100%);
  --bottompannel-color: hsl(0, 0%, 97%);
  --sidedrawer-color: hsl(0, 0%, 97%);
  --footer-color: hsl(0, 0%, 97%);
  --codeeditor-color: hsl(0, 0%, 100%);
  --border-color: hsl(0, 0%, 90%);
  --dropmenu-bg-color: hsl(0, 0%, 97%);
  --dropmenu-border-color: hsl(0, 0%, 84%);
  --input-border-color: hsl(0, 0%, 81%);
  --input-bg-color: hsl(0, 0%, 100%);
  --notification-bg-color: hsl(0, 0%, 97%);
  --highlight-editor-text-color: var(--primary-color);
}

.vs-dark {
  --accent-color: hsl(204, 100%, 40%);
  --primary-color: hsl(204, 100%, 40%);
  --primary-text-color: hsl(0, 0%, 55%);
  --highlight-text-color: hsl(0, 0%, 90%);
  --tertiary-text-color: hsl(0, 0%, 80%);
  --hover-text-color: hsl(180, 1%, 18%);
  --sidepannel-color: hsl(0, 0%, 9%);
  --bottompannel-color: hsl(0, 0%, 9%);
  --sidedrawer-color: hsl(0, 0%, 9%);
  --footer-color: hsl(0, 0%, 9%);
  --codeeditor-color: hsl(0, 0%, 12%);
  --border-color: hsl(0, 0%, 12%);
  --dropmenu-bg-color: hsl(0, 0%, 12%);
  --dropmenu-border-color: hsl(0, 0%, 20%);
  --input-border-color: hsl(0, 0%, 27%);
  --input-bg-color: hsl(0, 0%, 16%);
  --notification-bg-color: hsl(0, 0%, 9%);
  --highlight-editor-text-color: var(--primary-color);
}

.monokai {
  --accent-color: hsl(204, 100%, 40%);
  --primary-color: hsl(22, 76%, 50%);
  --primary-text-color: hsl(0, 0%, 55%);
  --highlight-text-color: hsl(0, 0%, 90%);
  --tertiary-text-color: hsl(0, 0%, 80%);
  --hover-text-color: hsl(96, 5%, 16%);
  --sidepannel-color: hsl(70, 8%, 8%);
  --bottompannel-color: hsl(70, 8%, 10%);
  --sidedrawer-color: hsl(80, 5%, 12%);
  --footer-color: hsl(70, 8%, 8%);
  --codeeditor-color: hsl(70, 8%, 14%);
  --border-color: hsl(50, 13%, 15%);
  --dropmenu-bg-color: hsl(70, 8%, 10%);
  --dropmenu-border-color: hsl(0, 0%, 18%);
  --input-border-color: hsl(50, 13%, 30%);
  --input-bg-color: hsl(70, 8%, 10%);
  --notification-bg-color: hsl(70, 8%, 6%);
  --highlight-editor-text-color: var(--primary-color);
}

.night-owl {
  --accent-color: hsl(204, 100%, 40%);
  --primary-color: hsl(209, 22%, 35%);
  --primary-text-color: hsl(209, 22%, 35%);
  --highlight-text-color: hsl(209, 22%, 80%);
  --tertiary-text-color: hsl(209, 22%, 70%);
  --hover-text-color: hsl(207, 32%, 17%);
  --sidepannel-color: hsl(205, 95%, 5%);
  --bottompannel-color: hsl(205, 95%, 5%);
  --sidedrawer-color: hsl(205, 95%, 6%);
  --footer-color: hsl(205, 95%, 4%);
  --codeeditor-color: hsl(205, 95%, 8%);
  --border-color: hsl(205, 95%, 8%);
  --dropmenu-bg-color: hsl(205, 95%, 5%);
  --dropmenu-border-color: hsl(207, 32%, 20%);
  --input-border-color: hsl(206, 23%, 48%);
  --input-bg-color: hsl(209, 66%, 14%);
  --notification-bg-color: hsl(205, 95%, 3%);
  --highlight-editor-text-color: var(--primary-color);
}

.dracula {
  --accent-color: hsl(204, 100%, 40%);
  --primary-color: hsl(326, 79%, 66%);
  --primary-text-color: hsl(209, 22%, 35%);
  --highlight-text-color: hsl(209, 22%, 80%);
  --tertiary-text-color: hsl(209, 22%, 70%);
  --hover-text-color: hsl(225, 31%, 15%);
  --sidepannel-color: hsl(225, 31%, 5%);
  --bottompannel-color: hsl(225, 31%, 5%);
  --sidedrawer-color: hsl(225, 31%, 6%);
  --footer-color: hsl(225, 31%, 5%);
  --codeeditor-color: hsl(228, 16%, 12%);
  --border-color: hsl(225, 31%, 10%);
  --dropmenu-bg-color: hsl(225, 31%, 4%);
  --dropmenu-border-color: hsl(225, 31%, 15%);
  --input-border-color: hsl(229, 18%, 20%);
  --input-bg-color: hsl(225, 31%, 10%);
  --notification-bg-color: hsl(205, 95%, 3%);
  --highlight-editor-text-color: var(--primary-color);
}
