@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/cascadia-code');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
                

:root{
  --accent-color: hsl(204, 100%, 40%);
  --primary-text-color: hsl(220,9%,50%);
  --highlight-text-color: hsl(220,9%,92%);
  --tertiary-text-color: hsl(220,9%,92%);
  --hover-text-color:hsl(217, 19%, 27%);
  --sidepannel-color: hsl(221, 39%, 11%);
  --bottompannel-color: hsl(221, 39%, 11%);
  --sidedrawer-color: hsl(221, 39%, 8%);
  --codeeditor-color: hsl(0, 0%, 0%);
}

body {
  /* avoid tab highlighting in smartphone of blue color */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}
